/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

div.glass {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #006699;
  margin-top: 4px;
  width: 23px;
  align-content: center;
}

  div.glass .blue {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #b3e6ff;
    width: 20px;
    vertical-align: bottom;
  }
  div.glass .white {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 20px;
    vertical-align: bottom;
  }
  div.glass .white-border-less {
    background-color: white;
    width: 20px;
    vertical-align: bottom;
  }

  .start-button { width: 90px; }
